.footer__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  margin-right: 18px;
  text-decoration: none;
  transition: 1s;
}

.footer__link:hover {
  opacity: .8;
  transition: 1s;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__link {
    margin-bottom: 32px;
    font-size: 24px;
    line-height: 24px;
  }
}
