.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
  margin: 8px 0 24px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place__paragraph {
    margin-top: 8px;
  }
  .place__paragraph:last-child {
    margin: 8px 0 0 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
  .place__paragraph:last-child {
    margin: 8px 0 0 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__paragraph {
    margin: 0 16px 25px;
    font-size: 16px;
    line-height: 26px;
  }
  .place__paragraph:last-child {
    margin-bottom: 0;
  }
}
