.cover {
  display: flex;
  position: relative;
  flex-direction: column;
  color: #FFFFFF;
  background-color: #000000;
  max-width: 1184px;
  margin: 0 auto;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cover {
    max-width: 100%;
  }
}
